@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --primary-font: "Poppins", sans-serif;
  --primary-text-color: white;
}
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-a); /* FROM PRIMEVUE VARS */
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
}
